body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,p,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,video {
    margin:0;
    padding:0;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
}
.middle {
    width: 1200px;
    margin: 0 auto;
}
.footer {
    width: 100%;
    height: 378px;
}

.footer .footer-img {
    height: 145px;
    border-bottom: 1px solid #CBC2BA;
}
.footer .footer-img ul{
    overflow: hidden;
}
.footer .footer-img ul li {
    width: 199px;
    height: 110px;
    float: left;
    color: #695948;
    text-align: center;
    position: relative;
}
.footer .footer-img ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 1px;
    height: 60px;
    background-color: #cbc2ba;
}
.footer .footer-img ul li.l3:before {
    background-color: white;
}
.footer .footer-img ul li span.fi1,.footer .footer-img ul li span.fi2,.footer .footer-img ul li span.fi3,.footer .footer-img ul li span.fi4,.footer .footer-img ul li span.fi5,.footer .footer-img ul li span.fi6 {
    width: 70px;
    height: 70px;
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat;
    display: block;
    margin-left: 65px;
    margin-bottom: 16px;
}
.footer .footer-img ul li span.fi2 {
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat 0 -70px;
}
.footer .footer-img ul li span.fi3 {
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat 0 -140px;
}
.footer .footer-img ul li span.fi4 {
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat 0 -210px;
}
.footer .footer-img ul li span.fi5 {
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat 0 -280px;
}
.footer .footer-img ul li span.fi6 {
    background: url("../img/aboutaiyou/footer_icon.jpg") no-repeat 0 -350px;
}
.footer .footer-content {
    height: 148px;
}
.footer .footer-content .footers {
    width: 230px;
    margin-top: 28px;
    float: left;
}
.footer .footer-content .footerz {
    margin-left: 50px;
}
.footer .footer-content .footers dl dt {
    font-size: 14px;
    display: block;
    line-height: 29px;
}
.footer .footer-content .footers dl dd {
    line-height: 24px;
}
.footer .footer-content .footers dl dd a{
    color: #988576;
    font-size: 13px;
    display: block;
}
.footer .footer-content .footers p {
    line-height: 30px;
    color: #695948;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
.footer .footer-content .footers .phone {
    font-size: 25px;
    margin-top: -3px;
}
.footer .copy {
    height: 38px;
    position: absolute;
    font-size: 14px;
    color: #695948;
    margin-top: 15px;
}
.footer .copy p {
    margin-bottom: 10px;
}
.footer .copy p a {
    color: #695948;
}

/*头尾css在这里结束*/

/*关于爱游css从这里开始*/
.about1 {
    background: url("../img/aboutaiyou/aboutOne.jpg") no-repeat center;
    width: 100%;
    height: 395px;
    background-size: cover;
}
.about-head {
    width: 1220px;
    margin: 0 auto;
}
.about-head {
    list-style-type: none;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}
.about-head li {
    list-style: none;
    float: left;
    margin: 20px 25px;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
}
.about-head li.active {
    border-bottom: 2px solid #fbd319;
}
.about-head li a {
    text-decoration: none;
    color: white;
}
.about-tit {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.about-tit h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fbd319;
}
.about-tit p {
    color: #fbd319;
    margin-bottom: 26px;
}
.about-logo {
    width: 412px;
    height: 56px;
    padding-top: 10px;
    margin: 0 auto;
    border: 1px solid white;
    background: url("../img/aboutaiyou/logo-deader.png") no-repeat 10% center;
    background-size: 80px;
}
.about-logo p {
    letter-spacing: 25px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 50px;
}
.about2 {
    width: 100%;
    height: 864px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutTwo.jpg") no-repeat center;
}
.about3 {
    width: 100%;
    height: 864px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutThree.jpg") no-repeat center;
}
.about4 {
    width: 100%;
    height: 800px;
    margin: 0 auto;
}
.about4-tit {
    width: 100%;
    height: 165px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/FourTitle.png") no-repeat center;
}
.about4-txt {
    position: relative;
    width: 100%;
    height: 605px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/FourBg.jpg") no-repeat 10% center;
}
.about4-txt-bg {
    width: 25%;
    height: 95%;
    background: #fbd319 left center;
    position: absolute;
    left: 55%;
}
.about4-txt-content {
    width: 39%;
    height: 623px;
    /* background: blue; */
    position: absolute;
    /* left: 63%; */
    top: 35px;
    right: 3%;
}
.about4-txt-content p {
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
}
.about4-txt-content p:nth-child(1) {
    margin-top: 0;
}
.about5 {
    width: 100%;
    height: 864px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutFive.jpg") no-repeat center;
}
.about6 {
    width: 100%;
    height: 864px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutSix.jpg") no-repeat center;
}
.about7 {
    width: 100%;
    height: 864px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutSeven.jpg") no-repeat center;
}
.about8 {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 864px;
}
.about8-tit {
    width: 100%;
    height: 165px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/EightTitle.png") no-repeat center;
}
.about8-txt {
    width: 85%;
    height: 685px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/team@2x.png") no-repeat left center;
}
.about8-txt-content {
    width: 35%;
    height: 435px;
    position: absolute;
    right: 0;
    top: 33%;
}
.about8-txt-content h3 {
    text-align: left;
    margin-bottom: 40px;
    line-height: 30px;
    letter-spacing: 2px;
}
.about8-txt-content p {
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
}
.about9 {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/aboutNine.png") no-repeat center;
}
.about10-tit {
    width: 100%;
    height: 165px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/story.png") no-repeat center;
}
.about10-txt {
    width: 100%;
    overflow: hidden;
    height: 785px;
    background-color: #fbd319;
}
.about10-box {
    width: 90%;
    height: 785px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.about10-left {
    height: 33px;
    width: 43px;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 10;
}
.about10-right {
    height: 33px;
    width: 43px;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 10;
}
.about10-content {
    width: 200%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    left: 0;
}
.about10-content-box {
    width: 547px;
    margin:100px 50px 0 50px;
    position: absolute;
}
.about10-content-box:nth-child(1) {left: 0}
.about10-content-box:nth-child(2) {left: 700px}
.about10-content-box:nth-child(3) {left:1400px}
.about10-content-box:nth-child(4) {left: 2100px}

.about10-content-bottom {
    padding-top: 20px;
    font-size: 18px;
}
.about11 {
    width: 100%;
    height: 600px;
}
.about11-tit {
    width: 100%;
    height: 165px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/eleven.png") no-repeat center;
}
.about11-box {
    width: 80%;
    margin: 0 auto;
    height: 400px;
}
.about11-box-left {
    width: 50%;
    float: left;
    margin-top: 50px;
}
.about11-box-right {
    width: 36%;
    height: 400px;
    float: left;
    margin-left: 3%;
}
.about11-box-right h2 {
    font-size: 30px;
    color: #81511c;
    font-weight: normal;
}
.about11-box-right h3 {
    font-size: 16px;
    color: #fbd319;
    margin-bottom: 20px;
    font-weight: normal;
}

.about11-box-right p {
    font-size: 16px;
    line-height: 35px;
}
.line {
    font-weight: lighter;
}
.white-font {
    color: white;
}
.yellow-font {
    color: #fbd319;
}
.choose-header {
    width: 100%;
    height: 734px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/whyus-bg.jpg") no-repeat 100% 0;
    background-size: cover;
}
.choose-header-txt {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.choose-header-txt h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fbd319;
}
.choose-header-txt p:nth-of-type(1) {
    color: #fbd319;
    margin: 50px 0;
}
.choose-header-txt p:nth-of-type(2) {
    font-size: 30px;
    font-weight: bold;
    color: #fbd319;
    margin-bottom: 50px;
}
.choose-header-txt p:nth-of-type(3),.choose-header-txt p:nth-of-type(4){
    color: white;
    font-size: 18px;
    margin: 10px 0;
}
.choose-header-txt p span {
    margin:0 20px;
}
.choose-header-txt p span i {
    color: #fbd319;
    font-style: normal;
}
.choose-header-txt p:nth-of-type(5) {
    color: #fbd319;
    font-size: 24px;
    margin-top: 15px;
}
.choose2 {
    width: 100%;
    height: 740px;
    background-color: #fbd319;
}
.choose2-left {
    height: 100%;
    width: 50%;
    float: left;
    background: url("../img/aboutaiyou/computer.png") no-repeat center;
}
.choose2-right {
    height: 100%;
    width: 50%;
    float: right;
    padding: 12% 0 12% 2%;
    box-sizing: border-box;
}
.choose2-right p {
    width: 80%;
    font-size: 18px;
    text-align: left;
    line-height: 25px;
}
.choose2-right p:nth-of-type(1) {
    margin-bottom: 20px;
}
.choose2-right p:nth-of-type(3) {
    margin: 10px 0;
}
.choose2-right p:nth-of-type(5) {
    margin-top: 50px;
}
.choose3 {
    width: 100%;
    height: 740px;
    margin: 0 auto;
    background: url("../img/aboutaiyou/pk-bg.jpg") no-repeat center;
    background-size: cover;
}
.choose3-wrap {
    width: 100%;
    height: 70%;
}
.choose3-wrap p {
    color: white;
    line-height: 25px;
    font-size: 18px;
}
.choose3-wrap p:nth-of-type(1) {
    margin: 10px 0;
}
.choose3-wrap p:nth-of-type(3) {
    margin-top: 20px;
}
.choose3-left,.choose3-right {
    width: 50%;
    height: 100%;
    float: left;
    padding:13% 5% 5% 10%;
    box-sizing: border-box;
}
.choose3-right {
    float: right;
    padding-left:5%;
}
.choose3>p {
    text-align: center;
}
.choose4 {
    width: 100%;
    height: 740px;
}
.choose4-box {
    width: 75%;
    height: 607px;
    margin: 0 auto;
    padding-top: 133px;
    background: url("../img/aboutaiyou/hand.jpg") no-repeat 100% 100%;
}
.choose4-box p {
    width: 60%;
    font-size: 18px;
    line-height: 25px;
}
.choose4-box p:nth-of-type(1) {
    margin: 20px 0;
}
.choose4-box p:nth-of-type(4) {
    margin: 30px 0;
}
.choose4-box p:nth-of-type(8) {
    margin: 50px 0;
}
.choose5 {
    width: 100%;
    height: 740px;
    position: relative;
    background: url("../img/aboutaiyou/brand-bg.jpg") no-repeat center;
    background-size: cover;
}
.choose5-box {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 14%;
    box-sizing: border-box;
}
.choose5-box-left {
    width: 60%;
    height: 100%;
    float: left;
}
.choose5-box-right {
    width: 40%;
    height: 100%;
    float: right;
    padding: 1% 0 0 5%;
    box-sizing: border-box;
}
.choose5-box-left p {
    margin-bottom: 30px;
}
.choose5-box-left p:nth-child(1) img {
    height: 40px;
}
.choose5-box-left p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
}
.choose5-box-left p:nth-child(3) {
    font-size: 25px;
}
.choose5-box-left p:nth-child(4){
    font-size: 18px;
}
.choose5-box-right img {
    height: 160px;
}
.choose5-box-right .choose5-box-logo {
    width: 450px;
    height: 60px;
    border: 1px solid #fbd319;
    background: url("../img/aboutaiyou/logo-yellow.png") no-repeat;
    background-size: 100px;
    background-position: 15% 50%;
    margin-top: 50px;
}
.choose5-box-right .choose5-box-logo p {
    letter-spacing: 25px;
    color: #fbd319;
    font-size: 18px;
    text-align: right;
    line-height: 60px;
}
.choose6 {
    width: 100%;
    height: 750px;
    background: url("../img/aboutaiyou/merit-bg.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.choose6-box {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}
.choose6-box-left {
    width: 540px;
    height: 650px;
    float: left;
}
.choose6-box-right {
    width: 543px;
    float: right;
    height: 650px;
}
.choose6-box-right-logo {
    width: 350px;
    height: 100px;
    background: url("../img/aboutaiyou/titlefive.png") no-repeat left center;
    background-size: 200px;
}
.choose6-box-right p {
    width: 543px;
    font-size: 18px;
    margin: 20px 0;
    line-height: 25px;
}
.choose6-box-right p:nth-of-type(1),
.choose6-box-right p:nth-of-type(3) {
    font-size: 24px;
    font-weight: bold;
}
.choose6-box-right p:nth-of-type(2),
.choose6-box-right p:nth-of-type(5) {
    font-size: 30px;
    margin: 20px 0;
}
.choose7 {
    width: 100%;
    height: 765px;
}
.choose7-wrap {
    width: 75%;
    height: 95%;
    margin: 0 auto;
    padding-top: 70px;
    box-sizing: border-box;
}
.choose7-box {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 0 60px;
    box-sizing: border-box;
}
.choose7-wrap>div:nth-child(1),
.choose7-wrap>div:nth-child(3) {
    float: left;
}
.choose7-wrap>div:nth-child(2),
.choose7-wrap>div:nth-child(4) {
    float: right;
}
.choose7-tit {
    height: 80px;
    margin: 0 auto;
}
.choose7-box p {
    font-size: 18px;
    padding-top: 15px;
}
.choose7-box1 .choose7-tit{
    background: url("../img/aboutaiyou/QAtitleone.png") no-repeat 0 0;
    background-size: contain;
}
.choose7-box2 .choose7-tit{
    background: url("../img/aboutaiyou/QAtitlesecond.png") no-repeat 0 80%;
    background-size: contain;
}
.choose7-box3 .choose7-tit{
     background: url("../img/aboutaiyou/QAtitlethird.png") no-repeat 0 80%;
     background-size: 90%;
 }
.choose7-box4 .choose7-tit{
      background: url("../img/aboutaiyou/QAtitlefour.png") no-repeat 0 80%;
      background-size: 60%;
  }
/*杜马盖地样式*/
.dumaguete-last-nav>ul {
    list-style-type: none;
    width: 100%;
}
.dumaguete-last-nav>ul>li {
    width: 12.5%;
    list-style: none;
    float: left;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.about-dumaguete {
    width: 100%;
    padding-top: 30px;
}
.dumaguete-wrap {
    width: 80%;
    margin: 0 auto;
}
.dumaguete-tit {
    width: 100%;
    text-align: center;
}
.dumaguete-tit h2{
    font-size: 30px;
    font-weight: normal;
    color: rgb(57, 48, 39);
    margin: 20px auto;
}
.dumaguete-tit p {
    color: #988576;
    line-height: 26px;
    font-size: 12px;
}
.dumaguete-last-nav {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    box-sizing: border-box;
}
.dumaguete-last-nav li {
    line-height: 25px;
    padding: 20px 0 5px 0;
}
.on {
    border-bottom: #695948 3px solid;
    background: url("../img/Dumaguete/palau_04.png") no-repeat center bottom;
}
.dumaguete-content {
    width: 100%;
    padding: 10px 0;
}
.dumaguete-content .box {
    width: 100%;
    text-align: left;
    /*float: left;*/
    margin: 30px auto;
}
.dumaguete-content .box>div {
    margin-bottom: 30px;
}
.dumaguete-content .box strong {
    font-size: 16px;
    color: #808080;
}
.dumaguete-content .box p {
    line-height: 25px;
    color: #695948;
    font-size: 14px;
}
.dumaguete-content>.box {
    display: none;
}
/*引用的张良的css*/

.clearfix::after {
    content: ".";
    height: 0;
    display: block;;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
.center {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    height: 388px;
    background: url("../img/Dumaguete/dumaguete.jpg") no-repeat;
    text-align: center;
    margin-bottom: 30px;
}
.banner h1 {
    color: #fbd319;
    font-size: 42px;
    padding-top: 200px;
}
.banner p {
    font-size: 14px;
}
.banner p:nth-of-type(1) {
    color:  #fbd319;
    line-height: 50px;
}
.banner p:nth-of-type(2) {
    color: #fffffa;
    margin-bottom: 35px;
}
.banner p:nth-of-type(3) span {
    color: #fffffa;
}
.fen {
    display: inline-block;
    width: 2px;
    height: 15px;
    vertical-align: middle;/*���� ������Ԫ�ض���*/
    background-color: #fbd319 ;
    margin: 0 15px;
}
.youdian,.center,.six {
    overflow: hidden;
}
.z .youdian .center .topp {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
    background-color: rgba(223, 218, 225, 0.79);
}
.z .youdian .center .six {
    width: 200px;
    float: left;
    text-align: center;
}
.z .youdian .center .six a {
    display: block;
    width: 100%;
    position: relative;
    height: 171px;
    background-color: #fffffa;
    transform: translate(0,0);
    transition:all .5s ease-in 0s;
    /*/ʵ�ֱ������ɱ�ɫ*/
}
.z .youdian .center .six .top {
    padding:50px 77px 5px 77px;
    width: 200px;
    box-sizing: border-box;
}
.z .youdian .center .six .bottom1 h2 {
    font-size: 16px;
    line-height: 35px;
}
.z .youdian .center .six .bottom1 {
    position: absolute;
    top: 100px;
    left: 0;
}
.z .youdian .center .six .bottom1 p {
    font-size: 12px;
}
.z .youdian .center .six .bottom1,.bottom2 {
    padding-bottom: 20px;
    width: 200px;
    height: 70px;
    box-sizing: border-box;
}
.z .youdian .center .six .bottom2 p {
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    width: 100%;
}
.z .youdian .center .six .bottom2 {
    position: absolute;
    top: 100px;
    left: -200px;
}
.z .youdian .center .message {
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: 1px solid #fbd319;
    padding: 1px 1px 2px 20px;
    box-sizing: border-box;
    background: url("../img/Dumaguete/notice_icon.png") no-repeat left center;
    margin-top: 15px;
    position: relative;
}
.z .youdian .center .message p {
    font-size: 10px;
    height: 15px;
    color: #b1b1b1;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
}
.z .youdian .center .message .p1 {
    display: block;
}
.z .content {
    margin: 50px 0 ;
}
.z .content .center .title {
    padding-left: 69px;
    background: url("../img/Dumaguete/mal_icon.png") no-repeat left center;
}
.z .content .center .title h2 {
    color: #939393;
    font-weight: 500;
}
.z .content .center .title h1 {
    font-weight: 400;
    font-size: 30px;
}
.z .content .center .text {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #fbd319;
    box-shadow: 0px 0px 5px #b1b1b1;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
}
.z .content .center .text .posi-1 {
    position: absolute;
    top: -55px;
    right: -20px;
}
.z .content .center .text .posi-2 {
    position: absolute;
    bottom: -55px;
    left: -20px;
}
.z .content .center .text h2,h3{
    font-weight: 600;
    font-size: 20px;
}
.z .content .center .text  h2 {
    line-height: 40px;
    padding-left: 60px;
    background: url("../img/Dumaguete/maldives_icon05.png") no-repeat left center;
    margin-bottom: 15px;
}
.z .content .center .one .text .te-top p {
    font-size: 14px;
    padding-left: 60px;
    line-height: 25px;
    font-weight: 600;
}
.z .content .center .one .text .te-top p span {
    font-weight: normal;
    color: #9d9d9d;
}
.z .content .center .text .te-bot h2 {
    background:url("../img/Dumaguete/dingliang.png") no-repeat left center;
    line-height: 70px;
    padding-left: 80px;
}
.z .content .center .text .te-top .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fbd319;
    margin: 20px 0;
}
.z .content .center .text .te-bot .four {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.z .content .center .one .text .te-bot h3 {
    padding-left: 80px
}
.z .content .center .one .text .te-bot p{
    padding-left: 80px
}
.z .content .center .text .te-bot h3 {
    font-size: 16px;
    line-height: 30px;
}
.z .content .center .text .te-bot {
    overflow: hidden;
}
.z .content .center .text .te-bot p{
    color: #9d9d9d;
    font-size: 12px;
    line-height: 25px;
}
.z .content .center .two {
    margin: 50px 0;
}
.z .content .center .two .title {
    background: url("../img/Dumaguete/mal_icon_02.png") no-repeat left center;
}
.z .content .center .two .time {
    margin: 20px 0 15px 0;
    background-color: #f9f4fb;
    padding: 15px 20px;
    overflow: hidden;
}
.z .content .center .two .time p {
    font-size: 14px;
    line-height: 25px;
}
.z .content .center .two .time .days {
    width: 15%;
    float: left;
}
.z .content .center .two .time .days:last-child {
    width: 10%;
}
.z .content .center .two .time .days .view {
    display:inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;color: #fbd319;
    font-weight: bold;
    padding-left: 25px;
    box-sizing: border-box;
    background: url("../img/Dumaguete/lllll.png") no-repeat left center;
    margin-bottom: 10px;
}
.z .content .center .two .time .days .line1 {
    color: #fbd319;
}
.z .content .center .two .sold {
    overflow: hidden;
}
.z .content .center .two .sold img {
    width: 360px;
}
.z .content .center .two .sold .fiv {
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #dcdcdc;
    width: 360px;
    box-shadow: 0px 0px 5px 3px #d9d9d9;
    float: left;
    margin: 10px 5px;
    border: 2px solid #fffffa;

}
.z .content .center .two .sold .five {
    display: block;
    width: 360px;
    margin-bottom: 10px;

}
.z .content .center .two .sold .fiv a {
    font-size: 14px;
    line-height: 25px;
}
.z .content .center .two .sold .fiv a span {
    color: red;
}
.z .content .center .two .sold .fiv .inner:hover {
    color: #d8d8d8;
}
.z .content .center .two .sold .fiv strong {
    font-size: 25px;
    color: saddlebrown;
    display: inline-block;
    margin-top: 15px;
}
.z .content .center .two .sold .fiv .ask {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;text-align: center;
    color: red;
    padding-left: 20px;
    background: url("../img/Dumaguete/maldives_212.png") no-repeat 20px center;
    background-color: #fbd319;
    float: right;
    margin-top: 15px;

}
.z .content .center .two .sold .marl {
    margin: 10px 12px;
}
.z .content .center .two .sold .fiv:hover {
    border: 2px solid #fbd319;
}
.z .content .photos {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
}
.z .content .photos h1 {
    color:saddlebrown;
    font-weight: 500;
}
.z .content .photos .third {
    width: 460px;
    height: 30px;
    line-height: 30px;
    padding-left: 130px;
    margin: 15px auto;
    box-sizing: border-box;

    background: url("../img/Dumaguete/bali_line.png") no-repeat center center;
}
.z .content .photos .third p {
    color: #fbd319;
    width: 180px;
    height: 30px;
    background-color: #fff;
}
.z .content .photos .picture {
    overflow: hidden;
    margin-top: 50px;
}
.z .content .photos .picture img {
    width:120%;
    transition: all .5s;position: absolute;
    top: -20px;
    left: -20px;
}
.z .content .photos .picture .dong {
    width: 20%;
    height: 230px;
    overflow: hidden;
    position: relative;
    float: left;
}
.z .content .photos .picture .dong .hid {
    width: 100%;
    height:230px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.z .content .photos .picture .dong .hid p {
    position: absolute;
    top: 30px;
    left: 30px;
    text-align: right;
    color: #fffffa;
}
.z .content .photos .picture .dong .hid .lianxi {
    display: block;
    width: 100%;
    height: 230px;
    background-color: #0099ff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0px;
}
.z .content .hangban  {
    margin-top: 50px;
    background-color: #d9d9d9;
    padding: 20px 0 50px 0;
}
.z .content .hangban .center .title {
    background: url("../img/Dumaguete/mal_icon_022.png") no-repeat left center;
}
.z .content .hangban .center table {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
    /*��tr�ӱ߿�*/
    background-color: #fff;
}
.z .content .hangban .center table th,
.z .content .hangban .center table td {
    width: 33%;
    font-size: 16px;
    color: #808080;
}
.z .content .hangban .center table th {
    color: #874d00;
    font-weight: normal;
    font-size: 18px;
}
.z .content .hangban .center table th {
    height: 50px;
    line-height: 50px; padding: 10px;

}
.z .content .hangban .center table td {
    height: 40px;
    line-height: 40px;
    padding: 10px;

}
.z .content .hangban .center table tr {
    border-bottom: 1px solid #d9d9d9;

}
.z .content .hangban .center table td:nth-of-type(1){
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.z .content .gonglue {
    margin-top: 50px;
}
.z .content .gonglue .center .title {
    height: 45px;
    padding-left: 50px;
    background: url("../img/Dumaguete/mal_icon_023.png") no-repeat left center;
}
.z .content .gonglue .center .play {
    width: 1600px;
    overflow: hidden;
    padding: 20px 0 50px 0;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    position: relative;
}
.z .content .gonglue .center .play .gong-four img {
    width: 300px;
    height: 164px;
}
.z .content .gonglue .center .play .gong-four {
    display: block;
    width: 300px;
    position: relative;
}
.z .content .gonglue .center .play li {
    padding: 0 50px;
    overflow: hidden;
    float: left;
}
.z .content .gonglue .center .play .gong-four strong {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 150px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #c05309;
    background-color: rgba(255,255,255,.6);
}
.z .content .gonglue .center .play .gong-four p {
    font-size: 14px;
    line-height: 25px;
}
.z .content .gonglue .center .play .gong-four .pp {
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
}
.z .content .gonglue .center .play .gong-four .col {
    color: #b1b1b1;
}
.z .content .gonglue .center  i {
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.6);
    cursor: pointer;
    color: #fff;
    font-style: normal !important;
}
.z .content .gonglue .center .playout {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.z .content .gonglue .center  .lef {
    position: absolute;
    top: 175px;
    left: 10px;
}
.z .content .gonglue .center  .rig {
    position: absolute;
    top: 175px;
    right: 10px;
}
.z .content .luxian {
    padding: 25px 30px;
    border: 1px solid #fbd319;
    margin-top: 50px;
    position: relative;
}
.z .content .luxian .title {
    background: url("../img/Dumaguete/dingliang.png") no-repeat left 2px;
}
.z .content .luxian .title h2 {
    color: #1a1a1a;
}
.z .content .luxian p {
    font-size: 12px;
    line-height: 20px;
}
.z .content .luxian .three {
    margin-top: 20px;
    overflow: hidden;
}
.z .content .luxian .three .title1,.title2,.title3 {
    padding-left: 45px;
    margin-bottom: 15px;
}
.z .content .luxian .three .title1 {
    background: url("../img/Dumaguete/mate.png") no-repeat left center;
}
.z .content .luxian .three .title2 {
    background: url("../img/Dumaguete/friends.png") no-repeat left center;
}
.z .content .luxian .three .title3 {
    background: url("../img/Dumaguete/family.png") no-repeat left center;
}
.z .content .luxian .three span {
    color: #fbd319;
    font-size: 20px;
}
.z .content .luxian .three .ppr,.ppl {
    float: left;
}
.z .content .luxian .three .ppr {
    margin: -15px 0 0 20px;
}
.z .content .luxian img {
    position: absolute;
    top: 50px;
    right: 80px;
}
.z .lebot {
    width: 46px;
    height: 144px;
    position: fixed;
    left: 0;
    bottom: 10px;
}
.z .boyi {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    bottom: 10px;
    margin-left: -2000px ;
}
.z .boyi img {
    position: absolute;
    top: -40px;
    left: 500px;
}
.z .boyi .hiddd {
    position: absolute;
    top: 40px;
    left: 1365px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.z .another {
    width: 500px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: none;
    height: 500px;

}
.z .another .top {
    width: 100%;
    padding-left: 20px;
    background-color: #16a88b;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    height: 34px;
    line-height: 34px
;
    position: relative;
}
.z .another .top img {
    background-color: #fff;
    border: 1px solid #1a1a1a;
    position: absolute;
    top: -15px;
    left: 30px;
}
.z .another .top strong {
    font-size: 16px;
    color: whitesmoke;
    margin-left: 80px;
}
.z .another .top a {
    display: block;
    width: 12px;
    height: 12px;
    float: right;
    background-color: #fff;
    padding: 3px;
    margin: 10px 5px;

}
.z .another .top .a1 {
    background: url("../img/Dumaguete/chaticon.png") no-repeat -5px 0px;
}
.z .another .top .a2 {
    background: url("../img/Dumaguete/chaticon.png") no-repeat -44px 0px;
}
.z .another .top .a3 {
    background: url("../img/Dumaguete/chaticon.png") no-repeat -64px 0px;
}
.z .another form {
    padding: 10px 20px;
}
.z .another form p,span {
    font-size: 12px;
    line-height: 25px;
}
.z .another form .sp1 {
    color: red;
}
.z .another form input[type=text]{
    width: 400px;
    height: 25px;
    margin:15px 0;
}
.z .another form textarea {
    width: 400px;
    height: 150px;
    margin-top: 15px;
    margin-left: 5px;
}
.z .another form input[type=submit] {
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #1a1a1a;
    margin: 30px 200px;
}
.z .another form .warning {
    color: red;
    padding-left: 50px;
}
.z-one {
    width: 100%;
    overflow: auto;
}
.z-one .center .he-ad {
    padding: 10px 0;
}
.z-one .center .he-ad li span {
    display: inline-block;
}
.z-one .center .he-ad li {
    float: left;
    padding:0 10px ;

}
.z-one .center .he-ad li .str1,.sp2 {
    font-size: 12px;

}
.z-one .center .he-ad li .sp1 {
    padding: 2px 5px;
    font-size: 10px;
    color: #653210;
    background-color: #d66118;
}
.z-one .center .he-ad li .a1 {
    display: block;
    width: 67px;
    height: 17px;
    background:url("../img/Dumaguete/T15AD7FFFaXXbJnvQ_-130-60.gif") 0 -3px;
    margin-top: 10px;
}
.z-one .center .he-ad li:nth-of-type(2){
    border-right: 1px solid #f3f3f3;
    border-left:1px solid #f3f3f3;
}
.z-one .center .he-ad li .sp2 {
    color: #cbcbcb;
    width: 40px;
    letter-spacing: 5px;
    line-height: 28px;

}
.z-one .center .he-ad li .sp2  .str2 {
    color: red;
    font-size: 14px;letter-spacing: 0px;
}
.z-one .content {
    width: 100%;
    text-align: center;
    background:url("../img/Dumaguete/TB1Ta_zaKH2gK0jSZFESuwqMpXa.jpg");
}
.z-one .content .first {
    margin: 0 auto;
    width: 990px;
}
.z-one img {
    width: 100%;
}
.z-one .img982 {
    width: 982px;
    margin: 0 auto;
}
.z-one .nav .center .top {
    overflow: hidden;
    border-top: 3px solid #000000;
    border-bottom: 1px solid #000000;
    margin-top: 20px;
}
.z-one .nav .center .top a {
    font-weight: 800;
    float: left;
    font-size: 14px;
    margin: 10px;
}
.z-one .nav .center .top form input[type=submit]{
    width: 100px;
    background-color: #000;
    color: white;
    border: none;
    float: left;
    height: 25px;
}
.z-one .nav .center .top form input[type=text]{
    float: left;
    height: 22px;
}
.z-one .nav .center .top form {
    float: right;
    margin: 5px 100px 0 0;
}
.z-one .nav .center .bottom {
    border-bottom: 2px solid #000000;
    padding: 10px 0;
}


.z-one .nav .center .bottom ul {
    overflow: hidden;
}
.z-one .nav .center .bottom ul li {
    padding: 10px 20px 30px 20px;
    float: left;
}
.z-one .nav .center .bottom ul li a {
    font-size: 12px;
    font-weight: 800;
}
.z-one .bao .center {
    background-color: #fff;
    margin-top: 50px;
    padding: 20px 0 100px 0;
}
.z-one .bao {
    position: relative;
}
.z-one .bao .center p{
    font-size: 20px;
    color: saddlebrown;
    margin: 15px 0;
}
.z-one .bao .center a {
    display: inline-block;
    margin: 0 15px;
}
.z-one .bao .center .lunbo {
    overflow: hidden;
    margin-top: 30px;
    width: 3900px;
    box-sizing: border-box;
}
.z-one .bao .center .lunbo .toop {
    display: block;
    width: 260px;
    margin-bottom: 10px;
    margin: 0 20px 10px 20px;
}
.z-one .bao .center .lunbo .more {
    float: left;
}
.z-one .bao .center .lunbo .price a {
    font-size: 12px;
}
.z-one .bao .center .lunbo .price p {
    margin: 0;
}
.z-one .bao .win {
    width: 20px;
    height: 80px;
    background-color: rgba(0, 0, 0, .3);
}
.z-one .bao .lun-left {
    position: absolute;
    left: 170px;
    top: 250px;
}
.z-one .bao .lun-right {
    position: absolute;
    right: 170px;
    top: 250px;
}
.z-one .item {
    overflow:hidden;
}
.z-one .bao .lasf {
    width: 100%;
    position: relative;
}
.z-one .footer {
    margin-top: 30px;
}
.z-one .footer .top {
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #fbd319;
    border-bottom: 1px solid #bfbfbf;
    padding-left: 20px;
}
.z-one .footer  a {
    font-size: 12px;
    color: #666666;
}
.z-one .footer .bottom {
    padding-left: 20px;
}
.z-one .footer  a:hover {
    color: #fbd319;
}
.z-one .nn {
    display: block;
}
.z-two table {
    width: 100%;
}
.z-two td,th {
    font-size: 14px;
    text-align: center;
    padding: 5px 10px;
}
.z-two .bro {
    background-color: #8b6935;
    color: white;
    border: none;
}
.z-two table tr td strong {
    color: red;
}
.z-two table tr td:nth-of-type(6){
    text-align: left;
}
.z-two table tr:nth-of-type(even){
    background-color: rgba(255,159,23,0.5);
}
.z-two .tdd {
    text-align: left;
}