    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: "微软雅黑";
    }
    
    .sticky {
        height: 160px;
        width: 40px;
        position: fixed;
        bottom: -40px;
        left: 0;
        z-index: 13;
        background: url('../img/pujidao/bottom_min.png') no-repeat;
        background-size: 100%;
    }
    
    .p-banner {
        height: 520px;
        width: 100%;
        background: url('../img/pujidao/bali_01.jpg') no-repeat center center;
        background-size: cover;
    }
    
    .p-banner>h1 {
        font-size: 54px;
        color: #fbd319;
        text-align: center;
        font-weight: 400;
        padding-top: 240px;
    }
    
    .p-banner>p:first-of-type {
        color: #fbd319;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }
    
    .p-banner>p:last-of-type {
        color: #fff;
        font-size: 18px;
        text-align: center;
        margin-top: 110px;
    }
    
    .p-banner>p:last-of-type>span {
        color: #fbd319;
    }
    
    .tour-main {
        width: 80%;
        margin: 0 auto;
    }
    
    .tour-main>p:first-of-type {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        text-indent: 2em;
        background: #f5f5f5;
    }
    
    .tour-main .t-icon {
        width: 100%;
        overflow: hidden;
        height: 180px;
    }
    
    .tour-main .t-icon .ico {
        width: 16.6%;
        height: 180px;
        float: left;
        position: relative;
        cursor: pointer;
    }
    
    .tour-main .t-icon .ico img {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-top: -9.2px;
        margin-left: -23px;
    }
    
    .tour-main .t-icon .ico .i-show {
        text-align: center;
        margin-top: 90px;
    }
    
    .tour-main .t-icon .ico .i-hide {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 180px;
        text-align: center;
        padding-top: 90px;
    }
    
    .tour-main>.w-bbs {
        border: 1px solid #fbd319;
        height: 28px;
        margin-bottom: 30px;
    }
    
    .tour-main>.w-bbs>.bbs {
        background: url('../img/pujidao/icon.png') no-repeat top left;
        height: 28px;
        line-height: 28px;
        width: 98%;
        margin: 0 auto;
    }
    
    .tour-main>.w-bbs>.bbs>.block {
        margin-left: 50px;
        font-size: 12px;
    }
    
    .tour-main>.w-why>.w-title {
        height: 100px;
        background: url('../img/pujidao/mal_icon.png') no-repeat;
        background-position: top 5px left 10px;
    }
    
    .tour-main>.w-why>.w-title>h2 {
        margin-left: 70px;
        color: #808080;
        font-size: 28px;
        font-weight: 400;
    }
    
    .tour-main>.w-why>.w-title>h1 {
        margin-left: 70px;
        font-size: 36px;
        font-weight: 400;
    }
    
    .tour-main>.w-why>.w-content {
        border: 1px solid #fbd319;
        padding-left: 80px;
        padding-top: 80px;
    }
    
    .tour-main>.w-why>.w-content>div>p {
        font-size: 26px;
        font-weight: bolder;
    }
    
    .tour-main>.w-why>.w-content>.c1 {
        height: 60px;
        background: url('../img/pujidao/maldives_icon05.png') no-repeat;
        background-position: top 10px left 10px;
    }
    
    .tour-main>.w-why>.w-content>.c1>.p1,
    .tour-main>.w-why>.w-content>.c2>.p2 {
        line-height: 60px;
        margin-left: 80px;
        font-size: 22px;
    }
    
    .tour-main>.w-why>.w-content>.c2 {
        height: 63px;
        margin-top: 30px;
        background: url('../img/pujidao/c2.png') no-repeat top left;
    }
    
    .tour-main>.w-why>.w-content>.line {
        width: 80%;
        margin: 0 auto;
        background: url('../img/pujidao/bali_line.png') no-repeat;
        height: 3px;
        background-size: 100%;
    }
    
    .tour-main>.w-why>.w-content>.liyou {
        margin-left: 80px;
        width: 70%;
        line-height: 1.8em;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .tour-main>.w-why>.w-content>.tiyan {
        margin-left: 80px;
        margin-top: 30px;
        padding-bottom: 40px;
    }
    
    .tour-main>.w-why>.w-content>.tiyan>table {
        text-align: left;
    }
    
    .tour-main>.w-why>.w-content>.tiyan>table tr {
        width: 80%;
        height: 18px;
    }
    
    .tour-main>.w-why>.w-content>.tiyan>table tr td {
        background: url('../img/pujidao/d.png') no-repeat center left;
        width: 35%;
        height: 50px;
        font-size: 16px;
        text-indent: 2em;
    }
    
    .w-free {
        margin-top: 40px;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background: #eeeeee;
    }
    
    .w-free>h1 {
        background: url('../img/pujidao/mal_icon_02.png') no-repeat;
        background-position: top 45px left 0;
        height: 50px;
        font-size: 42px;
        text-indent: 1em;
        font-weight: 400;
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }
    
    .w-free>.f-wrap {
        columns: 3;
        width: 80%;
        margin: 40px auto;
    }
    
    .w-free>.f-wrap>.item {
        background-color: #fff;
        width: 100%;
        height: 410px;
        position: relative;
    }
    
    .w-free>.f-wrap>.item img,
    .w-free>.f-wrap>.item>.p1,
    .w-free>.f-wrap>.item>.p2 {
        position: absolute;
        width: 360px;
        left: 50%;
        margin-left: -180px;
    }
    
    .w-free>.f-wrap>.item img {
        height: 220px;
        top: 15px;
    }
    
    .w-free>.f-wrap>.item>.p1 {
        top: 240px;
        color: red;
        font-size: 16px;
        line-height: 1.5em;
    }
    
    .w-free>.f-wrap>.item>.p1>span {
        color: #000;
    }
    
    .w-free>.f-wrap>.item>.p2 {
        top: 300px;
        color: #874d00;
        font-size: 36px;
        line-height: 1.5em;
        font-weight: bolder;
        background: url('../img/pujidao/free-btn.png') no-repeat top 5px right;
    }
    
    .w-free>.f-wrap>.item>.p2>span {
        font-size: 14px;
        font-weight: 400;
    }
    
    .w-free>.f-banner {
        width: 80%;
        margin: 40px auto;
        background-image: url('../img/pujidao/jd.jpg');
        height: 200px;
        background-size: cover;
    }
    
    .w-free>.f-ban2 {
        width: 80%;
        margin: 40px auto;
        height: 160px;
        columns: 2;
    }
    
    .w-free>.f-ban2>div {
        height: 160px;
    }
    
    .w-free>.f-ban2>.f-bit1 {
        background-image: url('../img/pujidao/f-bit2.jpg');
    }
    
    .w-free>.f-ban2>.f-bit2 {
        background-image: url('../img/pujidao/f-bit1.jpg');
    }
    
    .w-free>.f-ban2>div>h2 {
        color: #fbd319;
        font-size: 28px;
        margin-left: 50px;
        padding-top: 40px;
    }
    
    .w-free>.f-ban2>div>p {
        margin-left: 50px;
        padding-top: 10px;
        color: #fff;
        font-size: 16px;
    }
    
    .w-guide {
        width: 80%;
        margin: 0 auto;
    }
    
    .w-guide>h1 {
        background: url('../img/pujidao/mal_icon_02.png') no-repeat;
        background-position: top 45px left 0;
        height: 50px;
        font-size: 42px;
        text-indent: 1em;
        font-weight: 400;
        padding-top: 30px;
    }
    
    .w-guide>.w-luxian {
        background: #eeeeee;
        margin-top: 40px;
        height: 140px;
        padding: 30px;
    }
    
    .w-guide>.w-luxian p {
        font-size: 16px;
        line-height: 1.5em;
    }
    
    .w-guide>.w-luxian>.litem>.dizhi {
        font-size: 18px;
        color: #fbd319;
        font-weight: bold;
    }
    
    .w-guide>.w-luxian>.litem>.dizhi>span {
        display: inline-block;
    }
    
    .w-guide>.w-luxian>.litem>.dizhi>span:nth-child(odd) {
        height: 25px;
        width: 21px;
        background: url('../img/pujidao/span.png') no-repeat top left;
    }
    
    .w-guide>.w-luxian>.litem>.acti {
        margin: 10px auto;
    }
    
    .w-guide>.w-luxian>.litem>.acti>span {
        display: inline-block;
    }
    
    .w-guide>.w-luxian>.litem>.acti>span:nth-child(even) {
        height: 40px;
        width: 156px;
    }
    
    .w-guide>.w-wrap {
        columns: 3;
        width: 100%;
        margin: 0px auto;
        padding-bottom: 20px;
        background: #eeeeee;
    }
    
    .w-guide>.w-wrap>.item {
        background-color: #fff;
        width: 100%;
        height: 510px;
        position: relative;
    }
    
    .w-guide>.w-wrap>.item img,
    .w-guide>.w-wrap>.item>.p1,
    .w-guide>.w-wrap>.item>.p2 {
        position: absolute;
        width: 360px;
        left: 50%;
        margin-left: -180px;
    }
    
    .w-guide>.w-wrap>.item img {
        height: 300px;
        top: 15px;
    }
    
    .w-guide>.w-wrap>.item>.p1 {
        top: 330px;
        color: red;
        font-size: 18px;
        line-height: 1.5em;
    }
    
    .w-guide>.w-wrap>.item>.p1>span {
        color: #000;
    }
    
    .w-guide>.w-wrap>.item>.p2 {
        top: 400px;
        color: #874d00;
        font-size: 34px;
        line-height: 1.5em;
        font-weight: bolder;
        background: url('../img/pujidao/free-btn.png') no-repeat top 5px right;
    }
    
    .w-guide>.w-wrap>.item>.p2>span {
        font-size: 16px;
        font-weight: 400;
    }
    
    .w-gallery {
        width: 100%;
        text-align: center;
    }
    
    .w-gallery h1 {
        margin: 30px auto;
        color: #874d00;
        font-size: 48px;
        font-weight: 400;
    }
    
    .w-gallery p {
        color: #fbd319;
        font-size: 26px;
        width: 40%;
        margin: 0 auto;
        background: url('../img/pujidao/bali_line.png') no-repeat center center;
        background-size: 80%;
    }
    
    .w-gallery p span {
        z-index: 2;
        background: #eeeeee;
    }
    
    .w-gallery .w-pic {
        margin: 40px auto;
        width: 100%;
        overflow: hidden;
        zoom: 1;
    }
    
    .w-gallery .w-pic .w-item {
        width: 20%;
        height: 200px;
        float: left;
        position: relative;
        overflow: hidden;
    }
    
    .w-gallery .w-pic .w-item img {
        width: 100%;
        height: auto;
    }
    
    .w-gallery .w-pic .w-item>p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 220px;
        background-color: rgb(0, 0, 139, .4);
    }
    
    .w-plane {
        width: 100%;
        background: #eeeeee;
        padding-bottom: 30px;
    }
    
    .w-plane h1 {
        background: url('../img/pujidao/plane.png') no-repeat;
        background-position: top 75px left 0;
        height: 50px;
        font-size: 38px;
        text-indent: 2em;
        font-weight: 400;
        padding-top: 60px;
        width: 80%;
        margin: 0 auto;
    }
    
    .w-plane table {
        margin: 30px auto;
        width: 80%;
        background: #fff;
        text-align: center;
    }
    
    .w-plane table tr td {
        height: 50px;
        width: 280px;
    }
    
    .w-plane table thead tr {
        color: #874d00;
        height: 100px;
        font-size: 24px;
    }
    
    .w-plane table tbody tr:nth-child(odd)>td:nth-child(1) {
        color: #000;
        font-size: 22px;
        font-weight: bolder;
    }
    
    .w-plane table tbody tr:nth-child(odd)>td:nth-child(2) {
        color: #000;
        font-size: 22px;
    }
    
    .w-plane table tbody tr td {
        font-size: 22px;
        color: #808080;
        font-weight: 500;
    }
    
    .w-plane table tbody tr:nth-child(odd)>td:nth-child(3),
    .w-plane table tbody tr:nth-child(even)>td:nth-child(1) {
        font-size: 20px;
        font-weight: 400;
    }
    
    .w-plane table tbody tr:nth-child(odd)>td:nth-child(6),
    .w-plane table tbody tr:nth-child(even)>td:nth-child(4),
    .w-plane table tbody tr>td:last-child {
        font-size: 18px;
    }
    
    .w-gl {
        width: 80%;
        margin: 0 auto;
        position: relative;
    }
    
    .w-gl h1 {
        background: url('../img/pujidao/gl.png') no-repeat;
        background-position: top 40px left 0;
        height: 60px;
        font-size: 42px;
        text-indent: 2em;
        font-weight: 400;
        padding-top: 30px;
    }
    
    .w-gl>.w-btn {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 100px;
        margin-top: -50px;
        font-size: 32px;
        line-height: 100px;
        background-color: #808080;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
    
    .w-gl>.w-lft {
        left: 200px;
    }
    
    .w-gl>.w-rgt {
        right: 200px;
    }
    
    .w-gl>.gl-banner {
        width: 40%;
        margin: 0 auto;
        padding-top: 30px;
        background: #eeeeee;
        height: 380px;
    }
    
    .w-gl>.gl-banner>.gl-wrap .gl-item {
        width: 400px;
        margin: 0 auto;
        position: relative;
    }
    
    .w-gl>.gl-banner>.gl-wrap .gl-item img {
        width: 400px;
        height: 240px;
    }
    
    .w-gl>.gl-banner>.gl-wrap .gl-item>p {
        width: 200px;
        background: #fff;
        height: 40px;
        line-height: 40px;
        font-size: 22px;
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -100px;
        text-align: center;
    }
    
    .w-gl>.gl-banner>.gl-wrap .gl-item .gl-text>p:first-child {
        height: auto;
        text-align: center;
        font-weight: bold;
    }
    
    .w-gl>.gl-banner>.gl-wrap .gl-item .gl-text p {
        line-height: 1.6em;
    }
    
    .w-jd {
        width: 80%;
        border: 1px solid #fbd319;
        margin: 40px auto;
        position: relative;
    }
    
    .w-jd h1 {
        background: url('../img/pujidao/c2.png') no-repeat;
        background-position: top 20px left 60px;
        height: 48px;
        font-size: 28px;
        text-indent: 5em;
        font-weight: bold;
        padding-top: 30px;
    }
    
    .w-jd .p1 {
        padding-top: 15px;
        margin-left: 8em;
        font-size: 16px;
        line-height: 2em;
        text-align: left;
        width: 40%;
    }
    
    .w-jd>.p-text {
        margin-left: 8em;
        width: 40%;
        font-size: 16px;
        border-bottom: 2px solid #fbd319;
        line-height: 2em;
        padding-bottom: 20px;
    }
    
    .w-jd>.p-text>p:nth-child(odd) {
        color: #874d00;
        font-size: 22px;
        font-weight: bold;
        padding-top: 30px;
    }
    
    .w-jd img {
        position: absolute;
        top: 0;
        right: 6em;
        width: 400px;
        height: 600px;
    }
    
    .w-jd>.w-mate {
        padding-top: 120px;
        margin-left: 8em;
        width: 40%;
        font-size: 16px;
        line-height: 2em;
        padding-bottom: 20px;
    }
    
    .w-jd>.w-mate h2,
    .w-jd>.w-fam h2 {
        height: 48px;
        font-size: 26px;
        text-indent: 2em;
        font-weight: bold;
    }
    
    .w-jd>.w-mate h2 {
        background: url('../img/pujidao/mate.png') no-repeat;
        background-position: top 10px left 0;
    }
    
    .w-jd>.w-fam {
        padding-top: 120px;
        margin-left: 8em;
        width: 42%;
        font-size: 16px;
        line-height: 2em;
        padding-bottom: 20px;
        position: absolute;
        right: 4em;
        top: 520px;
    }
    
    .w-jd>.w-fam h2 {
        background: url('../img/pujidao/family.png') no-repeat;
        background-position: top 10px left 0;
    }
    
    .w-jd>.w-mate p:nth-child(9),
    .w-jd>.w-fam p:nth-child(9) {
        margin-top: 40px;
    }
    
    .w-jd>.w-mate p:nth-child(9) span,
    .w-jd>.w-fam p:nth-child(9) span {
        color: #fbd319;
    }